.body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(300, 58%, 94%);
    
}

.main{
    background-image:url(./pictures/BG1.jpg);
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-repeat: no-repeat;

    background-size: cover;
    transform: translate(0px, -95px);
    
}
.main2{
    width: 500px;
    height: 500px;
    margin-top: 90px;
    margin-left: 60px;
    /* padding: 150px; */
    border: 1px solid #fcf2f8;
    background-color:#fcf2f8;
    border-radius: 50px;

  
  
}
.about{
    /* transform: translate(-5px, -10px); */
     padding-left: 25px;
     padding-top: 20px;
      color:#78756c;
      font-size: 20px; 
      
     
}
.creative{
    color:#e82c58;
    font-size: 70px; 
    padding-left: 27px;
}
.agency{
    color:#e82c58;
    font-size: 70px; 
    padding-left: 27px;
    transform: translate(0px, -37px);

}
.image{
    font-size: 23px;
    padding-left: 27px;
    transform: translate(0px, -57px);
}
span{
    text-decoration: underline;
}
.contact{
    margin-left: 65px;
    transform: translate(0px, -57px);  
    border-radius: 30px 30px;
    padding: 20px;
    width: 180px;
    color:white;
    background-color: #e82c58;
    border: 1px solid #fcf2f8;
    
}
.linear{
    
    height: 350px;
    width: 100%;
    background-image: linear-gradient(#22d4d1, #e827a8);
    text-align: center; 
    transform: translate(0px, -83px);
    
}
/* .row{
    border-radius: 30px;
} */
.column {
    float: left;
    width: 20%;
    
    color:#e82c58;
    transform: translate(0px, 50px); 
     border: 0.2px solid #fcf2f8;  
      margin: 28px;
      border-radius: 20px;
      background-color:white ; 
     
  }
  .menu{
    width: 40px;
    height: 50px;
    transform: translate(1056px, -20px);
  }
  .logo{
    transform: translate(125px, 50px); 
    font-size: 30px;
    color:#78756c;
    
  }
  .girl{
    width: 50%;
    height: 50%;
    transform: translate(25px, 280px); 
  }

  